In [75]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/423116/august_data.csv')

In [79]:
df.head()

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,Unnamed: 5,ga:user
0,28-08-2019 12:29:24,2.802509e+08,"7,186,054",383919,28103,NaN,141000.0
1,28-08-2019 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN,NaN
2,28-08-2019 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN,NaN
3,28-08-2019 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN,NaN
4,28-08-2019 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN,NaN

In [80]:
df.shape

(1011, 7)

In [81]:
df.isna().sum()

ga:date                 0
ga:clientid             0
userID                  0
ga:transaction_id       0
ga:revenue              0
Unnamed: 5           1011
ga:user              1010
dtype: int64

In [82]:
df.fillna({'ga:user' : '0'})

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,Unnamed: 5,ga:user
0,28-08-2019 12:29:24,2.802509e+08,"7,186,054",383919,28103,NaN,141000.0
1,28-08-2019 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN,NaN
2,28-08-2019 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN,NaN
3,28-08-2019 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN,NaN
4,28-08-2019 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN,NaN
...,...,...,...,...,...,...,...
1006,01-08-2019 01:33:53,5.085028e+08,7186781,358692,9280,NaN,NaN
1007,01-08-2019 01:27:45,4.152444e+08,7186780,359792,2899,NaN,NaN
1008,01-08-2019 01:23:40,6.964930e+08,7186782,377751,8900,NaN,NaN
1009,01-08-2019 01:18:14,4.152444e+08,7186780,377721,8204,NaN,NaN
1010,01-08-2019 01:06:38,5.352736e+08,7014062,377748,3032,NaN,NaN

In [84]:
df = df.drop('Unnamed: 5', axis=1)

In [85]:
df.head()

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,ga:user
0,28-08-2019 12:29:24,2.802509e+08,"7,186,054",383919,28103,141000.0
1,28-08-2019 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN
2,28-08-2019 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN
3,28-08-2019 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN
4,28-08-2019 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN

In [37]:
#numbers of unique users 
#141000.0

In [86]:
df.shape

(1011, 6)

In [87]:
df.dtypes

ga:date               object
ga:clientid          float64
userID                object
ga:transaction_id     object
ga:revenue             int64
ga:user              float64
dtype: object

In [88]:
df['ga:date'] = pd.to_datetime(df['ga:date'])

In [89]:
df.dtypes

ga:date              datetime64[ns]
ga:clientid                 float64
userID                       object
ga:transaction_id            object
ga:revenue                    int64
ga:user                     float64
dtype: object

In [92]:
df.head()

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,ga:user
0,2019-08-28 12:29:24,2.802509e+08,"7,186,054",383919,28103,141000.0
1,2019-08-28 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN
2,2019-08-28 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN
3,2019-08-28 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN
4,2019-08-28 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN

In [93]:
df.rename({'ga:clientid' : 'client_id', 
                    'ga:date' : 'date', 
                    'ga:transaction_id' : 'transaction_id', 
                    'ga:revenue' : 'revenue', 
                    'ga:user' : 'user'}, axis=1,  inplace=True)

In [94]:
df.rename({'ga:user' : 'count_uniq_users'}, axis=1, inplace=True)

In [95]:
df.userID = df.userID.str.replace(',', '.')

In [96]:
df.head()

,date,client_id,userID,transaction_id,revenue,ga:user
0,2019-08-28 12:29:24,2.802509e+08,7.186.054,383919,28103,141000.0
1,2019-08-28 12:27:12,8.196637e+08,7.186.010,97225,177697,NaN
2,2019-08-28 11:43:24,1.751156e+09,7.184.859,385087,64892,NaN
3,2019-08-28 11:40:50,5.515333e+08,7.186.029,385392,38816,NaN
4,2019-08-28 11:25:31,4.527935e+08,7.183.548,385871,3112,NaN

In [19]:
df.shape

(1011, 6)

In [98]:
# the answer -- numbers of clients, not users
uniq_clients = df.query('revenue > 0').client_id.nunique()
uniq_clients

685

In [99]:
# conversation rate
CR = df.query('revenue > 0').client_id.nunique() / 141000 
CR
#np.round((df.query('revenue > 0').client_id.nunique() / 141000) * 100, 2) число клиентов / число пользователей

0.004858156028368794

In [100]:
AC = df.query('revenue > 0').revenue.sum() / df.query('revenue > 0').revenue.count()
AC
# np.round(df.query('revenue > 0').revenue.sum() / df.query('revenue > 0').revenue.count(), 0) # average check

34458.12660944206

In [25]:
df.query('revenue == 0').shape # data frame where revenue == 0

(79, 6)

In [101]:
RPR = df.query('revenue > 0').revenue.count() /df.query('revenue > 0').client_id.nunique()
RPR
# np.round(df.query('revenue > 0').revenue.count() /df.query('revenue > 0').client_id.nunique(), 2) # Repeat Purchase Rate

1.3605839416058394

In [103]:
# ARPPU 
#np.round(df.query('revenue > 0').revenue.count() /df.query('revenue > 0').client_id.nunique() * df.query('revenue > 0').revenue.sum() / df.query('revenue > 0').revenue.count(), 0)
ARPPU = RPR * AC
ARPPU

46883.17372262773

In [105]:
# ARPU 
ARPU = ARPPU * CR
ARPU
# np.round((df.query('revenue > 0').client_id.nunique() / 141000) * arppu, 0)

227.76577304964536