ЗАДАНИЕ 1

Воспользуйтесь этими данными и выясните, какие пары товаров пользователи чаще всего покупают вместе. 
По сути, вам необходимо найти паттерны покупок, что позволит оптимизировать размещение продуктов в магазине 
для удобства пользователей и увеличения выручки.

In [1]:
import pandas as pd
import itertools

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')

In [3]:
df.head()

      id            Товар  Количество
0  17119            Лимон         1.1
1  17119  Лимон оранжевый         0.7
2  17119        Лук-порей        10.0
3  17119     Лук репчатый         2.5
4  17119    Малина свежая         1.0

In [5]:
df.dtypes

id              int64
Товар          object
Количество    float64
dtype: object

In [6]:
df.isna().sum()

id            0
Товар         0
Количество    0
dtype: int64

In [7]:
df['Товар'].nunique()

199

In [8]:
df[df['Товар'] == 0]

Empty DataFrame
Columns: [id, Товар, Количество]
Index: []

In [9]:
# Функция, которая выводит количество уникальных парных комбинаций
def patterns(products):
    products_sorted = sorted(products)
    combinations = itertools.combinations(products_sorted, 2)
    return pd.Series(list(combinations))

In [11]:
# Применяем нашу функцию для нашего датафрейм и считаем количество значений
products_pairs = df.groupby('id') \
    ['Товар'].apply(patterns) \
    .value_counts() \
    .reset_index() \
    .rename({'index' : 'Товар', 'Товар' : 'Встречаемость'}, axis=1);

<ipython-input-9-02ce12acafbe>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(list(combinations))

In [12]:
products_pairs

                                        Товар  Встречаемость
0                  (Огурцы Луховицкие, Укроп)            431
1                           (Петрушка, Укроп)            408
2                  (Арбуз, Огурцы Луховицкие)            345
3                (Кабачки, Огурцы Луховицкие)            326
4                              (Кинза, Укроп)            303
...                                       ...            ...
19692           (Салат Фризе, Яблоки сушеные)              1
19693               (Изюм Голд, Яблоки Мутсу)              1
19694                    (Рамбутан, Шиповник)              1
19695  (Капуста краснокочанная, Огурцы Кураж)              1
19696             (Лонган, Цукаты (брусочки))              1

[19697 rows x 2 columns]

In [13]:
# Значения в колонке меняем на список
products_pairs['Товар'] = products_pairs['Товар'].apply(list)

In [14]:
products_pairs.head()

                          Товар  Встречаемость
0    [Огурцы Луховицкие, Укроп]            431
1             [Петрушка, Укроп]            408
2    [Арбуз, Огурцы Луховицкие]            345
3  [Кабачки, Огурцы Луховицкие]            326
4                [Кинза, Укроп]            303

In [15]:
# Из элементов списка в колонке "Товар" создаем две другие колонки
products_pairs['1_Товар'] = products_pairs['Товар'].str[0]
products_pairs['2_Товар'] = products_pairs['Товар'].str[1]

In [16]:
# 5 наиболее распространенных паттернов 
products_pairs[['1_Товар', '2_Товар', 'Встречаемость']].head(5)

             1_Товар            2_Товар  Встречаемость
0  Огурцы Луховицкие              Укроп            431
1           Петрушка              Укроп            408
2              Арбуз  Огурцы Луховицкие            345
3            Кабачки  Огурцы Луховицкие            326
4              Кинза              Укроп            303